{% extends "Layout/index.html.twig" %}
{% block page_header %} Create Exam  {% endblock %}
{% block breadcurm_nav_list %}
{#    {{ render_header_list(path('fn_admin_exam_create'), 'Add Exam', 'fas fa-plus-circle') }}#}
{% endblock %}

{% block content %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <lable>Add Course</lable>
                    </div>
                    <hr>
                </div>
            </div>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            <div class="row">

                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.examYear) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.examType) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.program) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.batch) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.batchSession) }}
                </div>


                <div class="col-md-12">
                    {{ form_row(form.description) }}
                </div>

                <div class="col-md-12">
                    {{ render_save_button() }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock  %}

{% block scripts %}
    <script>
        $(document).ready(function () {
           let program = $("#exam_program");
           let batch = $("#exam_batch");
           let batchSession = $("#exam_batchSession")

            $(program).on('change', function (e){
                let programVal = program.val();
                batch.val('');
                batchSession.val('');
                // Remove the 'hidden' class from options with matching data-program-id
                $(batch).find('option[data-program-id="' + programVal + '"]').removeClass('d-none');

                // Add the 'hidden' class to other options
                $(batch).find('option[data-program-id!="' + programVal + '"]:not([value=""])').addClass('d-none');

            })

            $(batch).on('change', function (e){
                let batchVal = batch.val();
                batchSession.val('');
                // Remove the 'hidden' class from options with matching data-program-id
                $(batchSession).find('option[data-batch-id="' + batchVal + '"]').removeClass('d-none');

                // Add the 'hidden' class to other options
                $(batchSession).find('option[data-batch-id!="' + batchVal + '"]:not([value=""])').addClass('d-none');

            })

        })
    </script>

{% endblock %}