{% extends "Layout/index.html.twig" %}
{% block page_header %} Exam List {% endblock %}
{% block breadcurm_nav_list %}
    {{ render_header_list(path('fn_admin_exam_create'), 'Add Exam', 'fas fa-plus-circle') }}
{% endblock %}

{% block content %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="custom-table table  table-hover">
                    <thead class="bg-table-head">
                    <tr class="border-double">
                        <th class="sn text-semibold ">#</th>
                        <th class="text-semibold ">Title</th>
                        <th class="text-semibold ">Exam Year</th>
                        <th>Exam Type</th>
                        <th>Academic Info</th>

                        <th class="text-semibold  action text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam in exams %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a class="text-primary"
                                   href="{{ path('vx_program_details', {'id': exam.id}) }}">{{ exam.name }}</a></td>
                            <td class="text-semibold ">{{ exam.examYear | date('Y') }}</td>

                            <td>{{ exam.examType }}</td>
                            <td>
                                <span class="text-info">{{ exam.program }}</span> <br>
                                <span class="text-gray">{{ exam.batch }}</span> <br>
                                <span class="text-gray">{{ exam.batchSession }}</span>
                            </td>
                            <td class="action text-center">
                                <ul class="icons-list">
                                    {{ render_action_button(path('vx_admin_exam_update', {'exam':exam.id }), '','fas fa-pencil-alt', 'text-info' ) }}
                                    {{ render_action_button(path('vx_exam_delete', {'exam':exam.id }), '','fas fa-trash-alt', 'text-danger' ) }}
                                </ul>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}