<div class="nav-left-sidebar sidebar-dark" style="margin-bottom: 20px">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="{{ path('vx_dashboard') }}">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    {{ render_sidebar_link(path("vx_dashboard"), 'Dashboard' )}}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="mdi mdi-book-plus"></i>Program</a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                {{ render_sidebar_link(path('vx_program'), 'Program') }}
                                {{ render_sidebar_link(path('vx_batch_list'), 'Batch') }}
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-2"><i class="fas fa-book"></i>Course</a>
                        <div id="submenu-3" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                {{ render_sidebar_link(path('vx_admin_course'), 'Course') }}
                                {{ render_sidebar_link(path('vx_admin_elective_course'), 'Elective Courses') }}
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2exam" aria-controls="submenu-2"><i class="mdi mdi-book-multiple"></i>Exam</a>
                        <div id="submenu-2exam" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                {{ render_sidebar_link(path('vx_admin_exam_list'), 'Academic Exam') }}
                            </ul>
                        </div>
                    </li>

                    <li class="nav-divider">
                        Setup
                    </li>
                    {{ render_sidebar_link(path("vx_setup_academic"), 'Academic' )}}
                    <li style="margin-bottom: 100px">
                    </li>

                </ul>
            </div>
        </nav>

    </div>
</div>