{% extends 'Program/Program/program_details_layout.html.twig' %}
{% block program_details %}
    <div class="row" style="padding: 10px">
        <div class="col-md-12" style="text-align: right">
            <a href="{{ path('vx_create_batch', {'program': program.id}) }}" class="text-primary"><i class="fas fa-plus-circle"></i> Add Batch</a>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Code
                            </th>
                            <th>Name</th>
                            <th>Academic(Year/Session)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set counter = 1 %}
                    {% for batch in program.batches %}

                        <tr>
                            <td>{{ counter }}</td>
                            <td><a class="text-primary" href="{{ path('vx_batch_details', {'batch': batch.id}) }}">{{ batch.title }} </a></td>
                            <td>{{ batch.code }}</td>
                            <td>{{ batch.academicYear }}</td>
                            <td class="action text-center">
                                <ul class="icons-list">
                                    {{ render_action_button(path('vx_batch_update', {'batch':batch.id, 'program' : program.id }), '','fas fa-pencil-alt', 'text-info' ) }}
                                    {{ render_action_button(path('vx_delete_level', {'id':batch.id }), '','fas fa-trash-alt', 'text-danger' ) }}
                                </ul>
                            </td>
                        </tr>
                        {% set counter = counter +1 %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}